{% style %}
    .error-msg {
        margin: 1rem 0;
        color: #a8071a;
        line-height: 1.4;
        border-radius: 6px;
        font-style: italic;
        padding: 1rem 1.25rem;
        border: 1px solid #ff4d4f;
        background-color: #fff1f0;
    }
{% endstyle %}

<p class="error-msg">⚠️ This block is only intended for product pages.</p>
