{% liquid
  if section.settings.product_images == 'all' or section.settings.product_images == 'one'
    assign product = section.settings.product
  endif
%}
{%- if product.description != blank -%}
  <div
    class="product__description rte quick-add-hidden"
    {{ block.shopify_attributes }}
    style="
      margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;
      margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;
    "
  >
    {{ product.description }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Description",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Block margin"
    },
    {
      "type": "header",
      "content": "Margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 21
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 45,
      "step": 3,
      "unit": "px",
      "default": 21
    }
  ],
  "presets": [
    {
      "name": "Description",
      "category": "Product basics"
    }
  ]
}
{% endschema %}
