<div class="timeline-content block-margins animate-item">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Content",
  "tag": null,
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom-liquid"
    },
    {
      "type": "image"
    },
    {
      "type": "json-animation"
    },
    {
      "type": "divider"
    },
    {
      "type": "button"
    },
    {
      "type": "atc-button"
    },
    {
      "type": "heading"
    },
    {
      "type": "text"
    },
    {
      "type": "rating-stars"
    },
    {
      "type": "countdown-timer"
    },
    {
      "type": "collapsible-row"
    },
    {
      "type": "video"
    },
    {
      "type": "slider"
    },
    {
      "type": "container"
    },
    {
      "type": "media-slider"
    },
    {
      "type": "trustpilot-stars"
    },
    {
      "type": "product_popup"
    },
    {
      "type": "payment-badges"
    },
    {
      "type": "product_urgency"
    },
    {
      "type": "review-avatars"
    },
    {
      "type": "icon-with-content"
    },
    {
      "type": "text-with-icon"
    },
    {
      "type": "text-with-icon-new"
    },
    {
      "type": "icon-with-text"
    },
    {
      "type": "reviews"
    },
    {
      "type": "timeline_active-content-container"
    }
  ],
  "settings": [
  ],
  "presets": [
    {
      "name": "Content",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
